@model CollectionsManager.BLL.DTO.User.SignUpModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SignUp</title>
    <link rel="stylesheet" href="~/css/SignIn.css" />
</head>
<body class="text-center">

<form asp-action="SignUp" class="form-signin">
    <img class="mb-4" src="~/unnamed.png" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please Sign Up</h1>

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input asp-for="UserName" type="text" class="form-control" placeholder="User name">
    <span asp-validation-for="UserName" class="text-danger"></span>

    <input asp-for="Email" type="text" id="signUpEmailInput" class="form-control" placeholder="Email"/>
    <span asp-validation-for="Email" class="text-danger"></span>

    <input asp-for="Password" type="password" id="signUpPasswordInput" class="form-control" placeholder="Password">
    <span asp-validation-for="Password" class="text-danger"></span>

    <input asp-for="PasswordConfirm" type="password" class="form-control" placeholder="Password confirm"/>
    <span asp-validation-for="PasswordConfirm" class="text-danger"></span>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
</form>

</body>
</html>