@using Entities.Constants
@model Entities.DTO.Collections.CollectionToManipulateDto

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create Collection</title>
</head>
<body>

<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateCollection">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div id="inputsBlock">
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Category" class="control-label"></label>
                    @Html.DropDownListFor(x => x.Category, Html.GetEnumSelectList<CollectionCategory>(), "Select Category", new { @class = "form-control" })
                    <span asp-validation-for="Category" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control"/>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <input type="button" value="Add property" class="btn btn-success" id="addPropertyInput"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>
</body>
</html>

<script>
    {
        let i = 0;

        const getHtml = () => {
            let value = "<div class='form-group'>" +
                "<label class='control-label'>Name</label>" +
                "<input type='text' class='form-control' name='CustomFields[" + i + "].name' />" +
                "</div>" +
                "<div class='form-group'>" +
                "<label class='control-label'>Type</label>" +
                "<select class='form-control' name='CustomFields[" + i + "].type'>" +
                "<option value='0'>Date</option>" +
                "<option value='1'>Int</option>" +
                "<option value='2'>String</option>" +
                "<option value='3'>Bool</option>" +
                "</select>" +
                "</div>";
            i++;
            return value;
        }

        addPropertyInput.onclick = () => {
            let html = getHtml();

            inputsBlock.insertAdjacentHTML('beforeend', html);
        }
    }
</script>