@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Super collections</title>
</head>

<div class="text-center">
    <h4>Largest collections</h4>
</div>

<div class="container-fluid">
    @await Component.InvokeAsync("LargestCollections")
</div>
