@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4>Largest collections</h4>
</div>

<div class="container-fluid">
    @await Component.InvokeAsync("LargestCollections")
</div>
