@using CollectionsManager.DAL.Constants
@model CollectionsManager.BLL.DTO.Collections.CollectionToManipulateDto

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/CollectionDetails.css" />
    <title>Create Collection</title>
</head>
<body>

<div class="text-center" style="margin-top: 10px"><h4>Create collection</h4></div>

<div class="row justify-content-center">
    <div class="col-md-6">
        <form asp-action="CreateCollection" enctype="multipart/form-data">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div id="inputsBlock">
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" autocomplete="off"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Image" class="control-label"></label>
                    <input asp-for="Image" class="form-control"/>
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Category" class="control-label"></label>
                    @Html.DropDownListFor(x => x.Category, Html.GetEnumSelectList<CollectionCategory>(), "Select Category", new { @class = "form-control" })
                    <span asp-validation-for="Category" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    @Html.TextAreaFor(x => x.Description, new { id = "descriptionInput", @class = "form-control", rows = "10" })
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="text-center" style="margin-top: 10px"><h4>Custom fields</h4></div>

            </div>

            <div class="form-group text-center">
                <input type="button" value="Add property" class="btn btn-success" id="addPropertyInput"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
        
        <div id="descriptionPreviewBlock" style="display: none">
            <div class="text-center" style="margin-top: 10px"><h4>Description preview</h4></div>
            <div class="description-block" id="previewViewBlock">
            </div>
        </div>
    </div>
</div>

<script src="~/js/MarkDownScript.js" asp-append-version="true"></script>
</body>
</html>

<script>
    {
        let i = 0;

        function remove(event) {
            i--;
            event.target.parentElement.remove();
        }

        const getHtml = () => {
            let value =
                "<div>" +
                "<div class='form-group'>" +
                "<label class='control-label'>Name</label>" +
                "<input type='text' class='form-control valid' id='CustomFields_0__Name' name='CustomFields[" + i + "].Name' data-val='true' data-val-required='Name must not be empty.' aria=describedby='CustomFields_0__Name-error' aria-invalid='false' autocomplete='off' />" +
                "<span class='text-danger field-validation-valid' data-valmsg-for='CustomFields[" + i + "].Name' data-valmsg-replace='true'></span>" +
                "</div>" +
                "<div class='form-group'>" +
                "<label class='control-label'>Type</label>" +
                "<select class='form-control' name='CustomFields[" + i + "].type'>" +
                "<option value='0'>Date</option>" +
                "<option value='1'>Int</option>" +
                "<option value='2'>String</option>" +
                "<option value='3'>Bool</option>" +
                "</select>" +
                "</div>" +
                "<button type='button' onclick='remove(event)' class='cancel-button btn btn-danger'>Cancel</button>" +
                "</div>";
            i++;
            return value;
        }

        addPropertyInput.onclick = () => {
            let html = getHtml();

            inputsBlock.insertAdjacentHTML('beforeend', html);
        }
    }
</script>